{% extends '../base.html' %}

{% load static%}
{% block styles %}
<link href="{% static 'css/category.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}
{% if messages %}
    {% for message in messages %}
{% if message.tags == 'success' %}
    <div class="alert alert-success">
{% else %}
    <div class="alert alert-danger">
        {% endif %}
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
<section class="section">
    <div class="container">
        {% for category in categories %}
        <div class="blog-list clearfix">
            <div class="section-title">
                <h3 class="color-{{ category.color}}"><a href="{% url 'category_posts' category.id %}">{{ category.title }}</a></h3>
            </div>

            {% for post in category.posts.all|slice:"0:2" %}
            {% if post.published %}
            <div class="blog-box row">
                <div class="col-md-4">
                    <div class="post-media crop">
                        <a href="{% url 'post_detail' post.id %}">
                            <img src="{{ post.image.url }}" alt="" class="img-fluid post-img">
                            <div class="hovereffect"></div>
                        </a>
                    </div><!-- end media -->
                </div><!-- end col -->
                <div class="blog-meta big-meta col-md-8">
                    <h4><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h4>
                    <p>{{ post.post|truncatechars:300 }}</p>
                    <small><a href="{% url 'category_posts' category.id %}">{{ category.title }}</a></small>
                    <small><a href="{% url 'post_detail' post.id %}">{{ post.date_created|date:"d M, Y" }}</a></small>
                    <small><a href="#">by {{ post.author.username }}</a></small>
                </div>
            </div>
            <hr class="invis">
            {% endif %}

            {% endfor %}
        </div>
        <hr class="invis2">
        {% endfor %}
    </div>
</section>
{% endblock content %}