{% extends '../base.html' %}
{% block content %}
<div class="page-title wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2><i class="fa fa-user"></i> {{ user.username }}</h2>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'main_page' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'create_post' %}">New post</a></li>
                    <li class="breadcrumb-item active">{{ user.username }}</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="custombox authorbox clearfix">
                        <h4 class="small-title">About author</h4>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <img src="{{ user.image.url }}" alt="" class="img-fluid rounded-circle">
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <h4><a href="{% url 'profile' %}">{{ user.username }}</a></h4>
                                <p>{{ user.descriptions }}</p>
                            </div>
                        </div>
                    </div>

                    <hr class="invis1">
                    <div class="blog-custom-build">
                        {% for post in posts %}
                        <div class="blog-box">
                            <div class="post-media">
                                <a href="{% url 'post_detail' post.id %}">
                                    <img src="{{ post.image.url }}" alt="" class="img-fluid">
                                    <div class="hovereffect">
                                        <span></span>
                                    </div>
                                </a>
                            </div>
                            <div class="blog-meta big-meta text-center">
                                <h4><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h4>
                                <p>{{ post.post|truncatechars:300 }}</p>
                                <small><a href="{% url 'category_posts' post.category.id %}">{{ post.category.title }}</a></small>
                                <small><a href="{% url 'post_detail' post.id %}">{{ post.date_created }}</a></small>
                                <small><a href="#">by {{ post.user.username }}</a></small>
                                <small><a href="{% url 'post_detail' post.id %}"><i class="fa fa-eye"></i>{{ post.seen_amount }}</a></small>
                            </div>
                        </div>
                        <hr class="invis">
                        {% endfor %}
                    </div><!-- end blog-custom-build -->
                </div><!-- end page-wrapper -->

                <hr class="invis">

                <div class="pagination">
                    <div class="row">
                        <div class="col-md-12">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-start">
                                    {% if posts.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ posts.previous_page_number }}">previous</a>
                                    </li>
                                    {% endif %}

                                    <li class="page-item page-link">
                                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                                    </li>

                                    {% if posts.has_next %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ posts.next_page_number }}">next</a></li>
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ posts.paginator.num_pages }}">last
                                        &raquo;</a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div><!-- end col -->
                        </div>
                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        <h2 class="widget-title">Search</h2>
                        <form class="form-inline search-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search on the site">
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </form>
                    </div><!-- end widget -->




                </div><!-- end sidebar -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
{% endblock content %}